/** {
    border: 2px solid blue;
}*/

html {
    background-image:url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

body {
    width: 80%;
    height: 100vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1b1b32;
}

label {
    display: block;
    margin: 10px;
}