/** {
    border: 2px solid blue;
}*/

html {
    background-image:url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

body {
    width: 80%;
    height: 175vh;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1b1b32;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 16px;
    max-width: 500px;
}

label {
    display: block;
    margin: 10px;
}

h1,
p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;/** vw(viewpoint width)works like the %, so this will occupy 60% of the body*/
    padding-bottom: 2em;
}

fieldset {
    border: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type { /*last of type pseudo-selector, picking the last element of this type*/
    border-bottom: none;
}

input,
textarea,
select {
    width: 100%;
    margin-top: 10px 0 0 0;/* shorthand-property. top, right , bottom, left*/
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5 0 0; /* shorthand-property. top, right , bottom, left*/
    vertical-align: middle;
}

input,
textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    min-height: 2em;
}

input[name="submit"] { /*attribute selector selects the input name within the element <input>*/
    display: block;
    width: 60%;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

 /*These last two types of codes to the same thing. They choose and style the type="file" input value*/ 
/*.picture {  >> here we have introduced a  class selector
    font-size: 16px;
    padding: ;
}*/

input[type="file"] { /*here we have used an attribute selector*/
    padding: 1px 2px;
    font-size: 16px;
}